<%= form_for(@subject_decision) do |f| %>
  <% if @subject_decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject_decision.errors.count, "error") %> prohibited this subject_decision from being saved:</h2>

      <ul>
      <% @subject_decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :decision_block_id %><br>
    <%= f.text_field :decision_block_id %>
  </div>
  <div class="field">
    <%= f.label :choice_value %><br>
    <%= f.check_box :choice_value %>
  </div>
  <div class="field">
    <%= f.label :timeline_id %><br>
    <%= f.text_field :timeline_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
