<%= form_for(@decision_block) do |f| %>
  <% if @decision_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decision_block.errors.count, "error") %> prohibited this decision_block from being saved:</h2>

      <ul>
      <% @decision_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :decision_text %><br>
    <%= f.text_area :decision_text %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :timeline_id %><br>
    <%= f.text_field :timeline_id %>
  </div>
  <div class="field">
    <%= f.label :ordering %><br>
    <%= f.number_field :ordering %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
